/* Reset some default margin and padding for a clean layout */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the body */
body {
  background-color: #f4f4f4;
}

/* Header Styling */
header {
  background-color: #163153; /* Dark blue */
  color: #fff; /* White text */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 80px; /* Adjust the height as needed */
  margin-right: 10px;
}

/* Navigation Styling */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  padding: 10px; /* Add padding to make the clickable area larger */
}

nav ul li:hover a {
  color: #d78129; /* Hover color */
}

/* Submenu Styling */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #163153; /* Dark blue */
  border-radius: 0 0 5px 5px;
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: column;
}

nav ul ul li {
  width: 200px;
}

nav ul ul a {
  padding: 10px;
}

/* Button Styling */
.cta-button {
  margin-left: 10px; /* Adjust margin as needed */
}

.cta-button a {
  background-color: #d78129;
  color: #163153;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.cta-button a:hover {
  background-color: #48839e;
  color: #fff;
}
