body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Header Styling */
header {
  background-color: #163153;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px #0071bc;
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 170px;
  margin-right: 10px;
}

/* Navigation Styling */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

.right-side {
  font-size: 16px;
  position: relative;
  top: 4px;
  left: 4px;
}

.left-side{
  font-size: 16.1px;
  position: relative;
  right: 7px;
}

.sub-side{
  font-size: 34px;
  position: relative;
  top: 4px;
  right: 7px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  padding: 20px;
  padding-bottom: 40px;
}

nav ul li:hover a {
  color: #d78129;
}

/* Submenu Styling */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #163153;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px #0071bc;
  margin-top: 30px;
}

nav ul li:hover > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

nav ul li:hover > ul.left {
  left: auto;
  right: 0;
}

nav ul ul li {
  width: calc(33.333% - 20px); /* Adjust width based on the number of columns and gap */
  margin-bottom: 30px;
}

nav ul ul a {
  padding: 15px;
  white-space: nowrap; /* Prevent text from wrapping */
  transition: all 0.5s ease-in-out;
}

nav ul ul a:hover{
  background-color: #0071bc;
  color: #163153;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Submenu Text Styling */
.submenu-text {
  color: #0071bc;
  text-align: center;
  margin-bottom: 15px;
  white-space: nowrap;
}

.submenu-text p {
  margin: 5px 0;
  font-size: 11px;
}

/* CTA Button Styling */
.cta-button {
  margin-left: 10px;
}

.cta-button a {
  background-color: #0071bc;
  color: #163153;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: 800;
  border: 3px double #163153;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.cta-button a:hover {
  background-color: #d78129;
  color: #163153;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Introduction Section Styling */
.introduction-container {
  background-image: linear-gradient(#163153, #0071bc);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  align-items: center;
}

.left-section{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 50px;
}

.img-container{
  text-align: center;
  max-width: 100%;
  margin: auto;
}

.img-container img{
  width: 400px;
  height: 400px;
}

.right-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-right: 50px;
}

.rotating-header {
  color: #d78129;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 15px;
}

.intro-paragraph p{
  color: #fff;
  text-align: justify;
}
